* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

/* Fade in and fade out animations for certain elements */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.container {
  width: 80%;
  margin: 5rem auto;
}

.card-container {
  margin-right: -1rem;
}

.card-container::after {
  content: "";
  display: block;
  clear: both;
}

.card {
  float: left;
  width: 25%;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in;
}

.card:nth-child(4n + 1) {
  clear: both;
}

.card:nth-child(n + 5) {
  margin-top: 1rem;
}

.card-inner {
  margin-right: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.151);
}

.card-inner > *:not(:last-child) {
  margin-bottom: 1rem;
}

.card-header {
  position: relative;
}

.card-header > *,
.card-footer > * {
  display: inline-block;
}
.card-header .profile-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.info {
  vertical-align: top;
}
.info .author {
  font-size: 1.3rem;
}

.info .date {
  font-size: 0.8rem;
}

.card-header .social-media {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card-body > * {
  margin-bottom: 1.2rem;
}

/* Due to the massive disparity between the captions and image sizes we have to set a fixed height for the captions and images */
.card-body img {
  object-fit: cover;
  max-height: 15rem;
  min-height: 15rem;
}

/* Removing the scrollbar but keeping the functionality with fixed height */
/* IE and Edge */
.card-body p {
  max-height: 10rem;
  min-height: 10rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Chrome and Firefox  */
.card-body p::-webkit-scrollbar {
  display: none;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.151);
  padding-top: 1rem;
}
.like-counter {
  margin-left: 0.3rem;
  vertical-align: top;
}

.like-button {
  pointer-events: none;
}

.button-container {
  text-align: center;
  margin-bottom: 3rem;
}

.btn {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  display: inline-block;
  background-color: #0d6efd;
  cursor: pointer;
}

.btn.button-disabled {
  display: none;
}
.modal, .modal-content{
  animation: 0.3s fadeIn ease-in;
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.closing{
  animation: 0.3s fadeOut ease-in;
}

.modal.modal-opened {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  width: 80%;
}

.modal-content > * {
  width: 50%;
  float: left;
}

.modal-content::after {
  content: "";
  display: block;
  clear: both;
}

.modal-content .modal-right {
  padding-left: 1.5rem;
}

.modal-content .modal-right > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.modal-right .card-header::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.151);
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
}

@media (max-width: 991px) {
  .card {
    width: 50%;
  }
  .card:nth-child(2n + 1) {
    clear: both;
  }
  .card:nth-child(n + 1) {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
  .card:nth-child(n + 1) {
    clear: both;
  }
  .card:nth-child(n) {
    margin-top: 1rem;
  }
  .modal-content > * {
    width: 100%;
    float: none;
  }

  /* Making the modal divs stack on top of eachother, otherwise the image is too small. Could do the same at tablet width, but it looks fine on tablet*/
  .modal-content .modal-right {
    padding-left: 0;
  }

  .modal-left{
    margin-bottom: 1rem;
  }
}